* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/*ROOT LAYOUT */
#app {
  display: flex !important;
  flex-direction: row !important;
  height: 70vh;
  width: 100%;
}

/* LEFT */
#sidebar {
  width: 30%;
  min-width: 200px;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}

/* RIGHT */
#chat {
  flex: 1;              /* WICHTIG statt width */
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 0;
}

/* MESSAGE AREA */
#chat-messages {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;

  display: flex;
  flex-direction: column;
  min-height: 0;
}

/* MESSAGE */
.message {
  max-width: 60%;
  padding: 8px;
  margin: 6px 0;
  border-radius: 10px;
  word-break: break-word;
}

.sent {
  align-self: flex-end;
  background: #d2f8d2;
}

.received {
  align-self: flex-start;
  background: #f1f1f1;
}

/* INPUT */
#chat-form {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

#chat-input {
  flex: 1;
  padding: 8px;
}

#chat {
  background: rgb(196, 227, 157);
}
#sidebar {
  background: rgb(163, 163, 215);
}

#user-list li.active {
  background: #d0e7ff;
  font-weight: bold;
}